.button
  background-color: transparent
  border: none
  border-radius: 0
  cursor: pointer
  display: inline-block
  font-family: 'HeliosC', Arial, sans-serif
  text-decoration: none
  text-align: center
  vertical-align: middle

  &:disabled,
  &.disabled
    cursor: default
    opacity: 0.5

    &:focus
      outline: none

  &--type_1
    background: url('../images/buttons/btn-1.png') no-repeat 0 0 transparent
    color: #fff
    font-size: 14px
    height: 48px
    padding: 0 12px 0 0
    width: 144px

  &--type_2
    background: url('../images/buttons/btn-2.png') no-repeat 0 0 transparent
    color: #2e2e2d
    font-size: 14px
    height: 48px
    padding: 0 12px 0 0
    width: 144px

  &--type_3
    background: url('../images/buttons/btn-3.png') no-repeat 0 0 transparent
    color: #2e2e2d
    font-size: 14px
    height: 62px
    padding: 0 16px 0 0
    width: 235px

  &--type_4
    background: url('../images/buttons/btn-4_2.png') no-repeat 0 0 / 159px 54px transparent
    color: #2e2e2d
    font-size: 14px
    height: 54px
    padding: 0 16px 0 0
    width: 159px

  &--type_5
    background: url('../images/buttons/btn-5.png') no-repeat 0 0 / 205px 70px transparent
    color: #2e2e2d
    font-size: 14px
    height: 70px
    padding: 0 16px 0 0
    width: 205px

  &--type_6
    background: url('../images/buttons/btn-6.png') no-repeat 0 0 / 205px 70px transparent
    color: #2e2e2d
    font-size: 14px
    height: 70px
    padding: 0 16px 0 0
    width: 205px

  &--type_7
    background-color: #d51b37
    border-radius: 6px
    font-family: 'Espuma Pro', Arial, sans-serif
    font-size: 12px
    font-weight: 700
    color: #fff
    height: 74px
    max-width: 264px
    text-align: center
    width: 100%

    .big
      font-size: 20px
      display: block

      @media(min-width: 992px)
        font-size: 28px

  &--type_8
    background: url('../images/buttons/btn-1.png') no-repeat 0 0 / 205px 70px transparent
    color: #2e2e2d
    font-size: 14px
    height: 70px
    padding: 0 16px 0 0
    width: 205px

    @media(min-width: 768px)
      background: url('../images/buttons/btn-1.png') no-repeat 0 0 transparent
      height: 48px
      padding: 0 12px 0 0
      width: 144px

    @media(min-width: 1200px)
      background: url('../images/buttons/btn-8.png') no-repeat 0 0 transparent
      font-size: 28px
      height: 86px
      padding: 0 20px 0 0
      text-align: center
      width: 252px

a.button
  align-items: center
  display: inline-flex
  justify-content: center
