.input,
.textarea
  background-color: #fff
  border: 1px solid #bfbfbf
  box-shadow: none
  border-radius: 0
  color: #2e2e2d
  width: 100%

  &:focus
    border-color: #303032

  &.error
    border-color: #db0032

    &:focus
      border-color: #db0032

  &:disabled
    opacity: 0.5

  &--red
    background-color: #d51b37
    border-color: #d51b37
    color: #fff

.input
  height: 28px
  line-height: 28px
  padding: 0 10px

.textarea
  height: 100px
  padding: 10px
  resize: none

/*placeholder*/
.input::-webkit-input-placeholder
  color: #303032
  opacity: 1

.input--red::-webkit-input-placeholder
  color: #fff

.input::-moz-placeholder
  color: #303032
  opacity: 1

.input--red::-moz-placeholder
  color: #fff

.input:-ms-input-placeholder
  color: #303032
  opacity: 1

.input--red:-ms-input-placeholder
  color: #fff

.textarea::-webkit-input-placeholder
  color: #303032
  opacity: 1

.textarea--red::-webkit-input-placeholder
  color: #fff

.textarea::-moz-placeholder
  color: #303032
  opacity: 1

.textarea--red::-moz-placeholder
  color: #fff

.textarea:-ms-input-placeholder
  color: #303032
  opacity: 1

.textarea--red:-ms-input-placeholder
  color: #fff
