<header class="header">
  <div class="header__inner container">
    <a class="logo" href="main.html"><img src="images/logo.png" alt="Сытоедов"></a>
    <button class="js-menu-opener menu-opener"><span class="menu-opener__burger"></span></button>
    <nav class="main-menu">
      <ul class="main-menu__list">
        <li class="main-menu__item"><a class="main-menu__link is-active" href="#">ОСНОВНОЕ МЕНЮ</a></li>
        <li class="main-menu__item"><a class="main-menu__link" href="#">РАЦИОНЫ ПИТАНИЯ</a></li>
        <li class="main-menu__item"><a class="main-menu__link" href="#">О КОМПАНИИ</a></li>
        <li class="main-menu__item"><a class="main-menu__link" href="#">КОНТАКТЫ</a></li>
      </ul>
    </nav>
    <div class="header__cart">
      <a class="header-cart" href="cart.html" title="В корзину">
        <span class="header-cart__icon">
          <span class="header-cart__qnt">01</span>
        </span>
        <span class="header-cart__cost">00,0 <img class="header-cart__currency" src="images/icons/rub.png" alt="руб."></span>
      </a>
    </div>
  </div>
</header>