.order
  border-bottom: 1px dotted #ffd729
  margin-bottom: 15px
  margin-left: auto
  margin-right: auto
  max-width: 700px
  padding-top: 25px
  padding-bottom: 25px

  @media(min-width: 768px)
    padding-left: 15px
    padding-right: 15px

  &:last-child
    margin-bottom: 0

  &__title
    font-size: 15px
    margin-bottom: 15px
    text-transform: uppercase

  &__inner
    font-size: 12px

    @media(min-width: 768px)
      display: flex
      justify-content: space-between

  &__left
    margin-bottom: 10px

    @media(min-width: 768px)
      margin-bottom: 0
      width: 57%

  &__item
    align-items: center
    display: flex
    justify-content: space-between
    margin-bottom: 10px

  &__item-title
    font-weight: 700
    padding-right: 15px
    text-transform: uppercase
    width: 50%

    @media(min-width: 768px)
      padding-right: 30px

  &__item-time
    padding-right: 15px
    white-space: nowrap

    @media(min-width: 768px)
      padding-right: 30px

  &__item-price
    white-space: nowrap

    @media(min-width: 768px)
      margin-left: auto

  &__set
    color: #8f8f8f
    margin-bottom: 10px
    text-transform: uppercase

  &__cost-block
    display: flex
    justify-content: space-between

  &__cost-text
    text-transform: uppercase

  &__right
    @media(min-width: 768px)
      width: 31%

    p
      margin-bottom: 10px

      &:last-child
        margin-bottom: 0

  &__controls
    align-items: center
    display: flex
    justify-content: space-between

    a
      color: #606060
      display: inline-block
      padding-top: 5px
      padding-bottom: 5px

.orders-history
  max-width: 700px
  margin-left: auto
  margin-right: auto
  margin-top: 30px

  @media(min-width: 768px)
    padding-left: 15px
    padding-right: 15px

  a
    color: #616161
