.period
  display: flex
  justify-content: center

.period-button
  background: none
  border: none
  box-shadow: none
  height: 40px
  margin-left: 10px
  margin-right: 10px
  padding: 0
  text-align: center
  width: 40px

  &--small
    margin-left: 0
    margin-right: 0

    .period-button__num
      font-size: 15px
      height: 26px
      width: 26px

  &.is-active
    .period-button__num
      background-color: #b7031e
      border-color: #b7031e
      color: #fff

  &__num
    align-items: center
    border-radius: 50%
    border: 2px solid #8a8a8a
    cursor: pointer
    display: inline-flex
    font-size: 27px
    height: 40px
    justify-content: center
    width: 40px
