.type-row
  margin-bottom: 25px

.set-order
  margin-bottom: 45px

  &__block
    border: 6px solid #d51b37
    padding: 25px

.order-form
  text-align: center

  &__title
    font-size: 20px
    margin-bottom: 15px
    text-align: center
    text-transform: uppercase

  &__result
    margin-bottom: 65px

    .order-form__title
      margin-bottom: 5px

  &__result-summ
    font-size: 28px
    margin-bottom: 5px
    text-transform: uppercase

  .period
    margin-bottom: 50px

  .qnt
    margin-bottom: 50px

    .input
      font-size: 27px
      height: 40px
      line-height: 40px
      margin-left: 15px
      margin-right: 15px
      width: 50px

.set-slider
  &__title
    font-family: 'Espuma Pro', Arial, sans-serif
    font-size: 36px
    font-weight: 700
    margin-left: -80px
    margin-bottom: 60px

  &__subtitle
    font-family: 'Espuma Pro', Arial, sans-serif
    font-size: 20px
    font-weight: 700
    margin-top: 10px
    margin-bottom: 10px
    text-align: center
    text-transform: uppercase

  &__slide
    display: flex !important
    flex-direction: column
    padding-left: 80px
    padding-right: 80px

    .row
      margin-top: auto
      margin-bottom: auto

  .slick-track
    display: flex
    height: 100%

  .slick-prev,
  .slick-next
    margin-top: 40px
