.social-link
  display: block
  height: 58px
  margin-right: 10px
  transition: opacity linear 0.3s
  width: 58px

  @media(min-width: 1200px)
    margin-right: 16px

  &:last-child
    margin-right: 0

  &:hover,
  &:focus
    opacity: 0.8
